In [1]:
import pandas as pd
import exchange_calendars as ecals

import baostock as bs


from datetime import datetime, timedelta

In [2]:
csi300 = pd.read_csv('all_hs300_stocks.csv')
csi500 = pd.read_csv('all_zz500_stocks.csv')

In [3]:
def transform_code(code):
    if len(code) >= 3:
        return code[:2].upper() + code[3:]  # 前两个字符变为大写，删除第三个字符
    return code.upper()  # 如果长度不足，返回全大写

# 应用函数到 code 列
csi500['code'] = csi500['code'].apply(transform_code)
csi300['code'] = csi300['code'].apply(transform_code)

In [4]:
calendar = ecals.get_calendar('XSHG')
start_date = '2008-01-01'
end_date = '2022-12-31'
trading_days = calendar.sessions_in_range(start_date, end_date)

In [5]:
trading_days

missing_days = []
# find different between csi500 date between trading_days
csi500['date'] = pd.to_datetime(csi500['date'])
for date in trading_days:
    if date not in csi500['date'].values:
        missing_days.append(date)

In [6]:
missing_days.__len__()

27

In [7]:
hs300_stocks_missing = pd.DataFrame()
zz500_stocks_missing = pd.DataFrame()

    # 登陆系统
    
lg = bs.login()
#current_date = start_date
for current_date in missing_days:
    
    if lg.error_code != '0':
        print(f"Login failed with error: {lg.error_msg}")
    print(f"Querying date {current_date.strftime('%Y-%m-%d')}")
    date_str = current_date.strftime("%Y-%m-%d")
    rs = bs.query_hs300_stocks(date=date_str)
    if rs.error_code == '0':
        hs300_stocks = []
        while rs.next():
            stock_data = rs.get_row_data()
            stock_code = stock_data[1]  # 假设股票代码在第二列
            # 查询股票的每日信息
            k_rs = bs.query_history_k_data_plus(stock_code,
                                                    "date,code,open,close,high,low,volume",
                                                    start_date=date_str, end_date=date_str,
                                                    frequency="d", adjustflag="3")
            if k_rs.error_code == '0':
                k_data = k_rs.get_row_data()
                if k_data == []:
                    break
                else:
                        # 添加open, close, high, low, volume信息
                    hs300_stocks.append(k_data)
        if hs300_stocks:
            result = pd.DataFrame(hs300_stocks, columns=['date',
                                                             'code',
                                                             'open','close','high','low','volume'])
            hs300_stocks_missing = pd.concat([hs300_stocks_missing, result])
    else:
        print(f"Error querying date {date_str}: {rs.error_msg}")
for current_date in missing_days:
    if lg.error_code != '0':
        print(f"Login failed with error: {lg.error_msg}")
    print(f"Querying date {current_date.strftime('%Y-%m-%d')}")
    date_str = current_date.strftime("%Y-%m-%d")
    rs = bs.query_zz500_stocks(date=date_str)
    if rs.error_code == '0':
        hs300_stocks = []
        while rs.next():
            stock_data = rs.get_row_data()
            stock_code = stock_data[1]  # 假设股票代码在第二列
            # 查询股票的每日信息
            k_rs = bs.query_history_k_data_plus(stock_code,
                                                    "date,code,open,close,high,low,volume",
                                                    start_date=date_str, end_date=date_str,
                                                    frequency="d", adjustflag="3")
            if k_rs.error_code == '0':
                k_data = k_rs.get_row_data()
                if k_data != []:
                  hs300_stocks.append(k_data)
        if hs300_stocks:
            result = pd.DataFrame(hs300_stocks, columns=['date',
                                                             'code',
                                                             'open','close','high','low','volume'])
            zz500_stocks_missing = pd.concat([zz500_stocks_missing, result])
    else:
        print(f"Error querying date {date_str}: {rs.error_msg}")
print("all done")

login success!
Querying date 2008-06-19
Querying date 2009-03-03
Querying date 2009-08-21
Querying date 2010-02-08
Querying date 2010-05-05
Querying date 2011-04-12
Querying date 2011-07-07
Querying date 2012-06-13
Querying date 2012-09-07
Querying date 2013-02-25
Querying date 2013-05-22
Querying date 2014-04-29
Querying date 2014-07-24
Querying date 2015-07-01
Querying date 2015-09-25
Querying date 2016-03-14
Querying date 2016-09-01
Querying date 2017-05-16
Querying date 2017-11-03
Querying date 2018-07-18
Querying date 2018-10-12
Querying date 2019-04-01
Querying date 2019-09-19
Querying date 2020-06-02
Querying date 2020-11-20
Querying date 2021-08-04
Querying date 2022-04-18
Querying date 2008-06-19
Querying date 2009-03-03
Querying date 2009-08-21
Querying date 2010-02-08
Querying date 2010-05-05
Querying date 2011-04-12
Querying date 2011-07-07
Querying date 2012-06-13
Querying date 2012-09-07
Querying date 2013-02-25
Querying date 2013-05-22
Querying date 2014-04-29
Querying date 2014-07-24
Querying date 2015-07-01
Querying date 2015-09-25
Querying date 2016-03-14
Querying date 2016-09-01
Querying date 2017-05-16
Querying date 2017-11-03
Querying date 2018-07-18
Querying date 2018-10-12
Querying date 2019-04-01
Querying date 2019-09-19
Querying date 2020-06-02
Querying date 2020-11-20
Querying date 2021-08-04
Querying date 2022-04-18
all done

In [8]:
hs300_stocks_missing['code'] = hs300_stocks_missing['code'].apply(transform_code)
zz500_stocks_missing['code'] = zz500_stocks_missing['code'].apply(transform_code)

In [9]:
csi300_complete = pd.concat([hs300_stocks_missing, csi300])
csi500_complete = pd.concat([zz500_stocks_missing, csi500])

In [10]:
csi300_complete.set_index(['date', 'code'], inplace=True)

In [11]:
csi300_complete.reset_index(inplace=True)

In [12]:
csi500_complete

,date,code,open,close,high,low,volume
0,2008-06-19,SH600039,7.0800,6.5300,7.1000,6.5300,12491849
1,2008-06-19,SH600051,6.1000,6.2500,6.4100,6.0400,7504955
2,2008-06-19,SH600054,14.6800,13.6100,14.8500,13.5100,1049794
3,2008-06-19,SH600056,11.4000,10.5400,11.6500,10.5400,1608679
4,2008-06-19,SH600057,2.9900,2.9500,2.9900,2.9500,1802300
...,...,...,...,...,...,...,...
1810948,2022-12-30 00:00:00,SZ300741,23.3,23.53,23.59,23.25,697539.0
1810949,2022-12-30 00:00:00,SZ300769,232.32,229.59,239.98,226.5,2917928.0
1810950,2022-12-30 00:00:00,SZ300832,49.31,50.14,50.52,48.47,3582705.0
1810951,2022-12-30 00:00:00,SZ300869,32.06,32.57,33.68,31.1,23415864.0
1810952,2022-12-30 00:00:00,SZ300888,69.85,71.5,71.88,69.12,2262275.0

In [13]:
csi500_complete

,date,code,open,close,high,low,volume
0,2008-06-19,SH600039,7.0800,6.5300,7.1000,6.5300,12491849
1,2008-06-19,SH600051,6.1000,6.2500,6.4100,6.0400,7504955
2,2008-06-19,SH600054,14.6800,13.6100,14.8500,13.5100,1049794
3,2008-06-19,SH600056,11.4000,10.5400,11.6500,10.5400,1608679
4,2008-06-19,SH600057,2.9900,2.9500,2.9900,2.9500,1802300
...,...,...,...,...,...,...,...
1810948,2022-12-30 00:00:00,SZ300741,23.3,23.53,23.59,23.25,697539.0
1810949,2022-12-30 00:00:00,SZ300769,232.32,229.59,239.98,226.5,2917928.0
1810950,2022-12-30 00:00:00,SZ300832,49.31,50.14,50.52,48.47,3582705.0
1810951,2022-12-30 00:00:00,SZ300869,32.06,32.57,33.68,31.1,23415864.0
1810952,2022-12-30 00:00:00,SZ300888,69.85,71.5,71.88,69.12,2262275.0

In [14]:
csi300_complete['date'] = pd.to_datetime(csi300_complete['date'])
csi500_complete['date'] = pd.to_datetime(csi500_complete['date'])

In [15]:
csi500_complete

              date      code     open    close     high      low      volume
0       2008-06-19  SH600039   7.0800   6.5300   7.1000   6.5300    12491849
1       2008-06-19  SH600051   6.1000   6.2500   6.4100   6.0400     7504955
2       2008-06-19  SH600054  14.6800  13.6100  14.8500  13.5100     1049794
3       2008-06-19  SH600056  11.4000  10.5400  11.6500  10.5400     1608679
4       2008-06-19  SH600057   2.9900   2.9500   2.9900   2.9500     1802300
...            ...       ...      ...      ...      ...      ...         ...
1810948 2022-12-30  SZ300741     23.3    23.53    23.59    23.25    697539.0
1810949 2022-12-30  SZ300769   232.32   229.59   239.98    226.5   2917928.0
1810950 2022-12-30  SZ300832    49.31    50.14    50.52    48.47   3582705.0
1810951 2022-12-30  SZ300869    32.06    32.57    33.68     31.1  23415864.0
1810952 2022-12-30  SZ300888    69.85     71.5    71.88    69.12   2262275.0

[1824453 rows x 7 columns]

In [16]:
def custom_sort(code):
    # 检查是否以 'SH' 开头
    return (code[:2] != 'SH', int(code[2:]))  # SH 优先，后面数字大小排序

# 按照 date 分组并排序
csi500_complete = (
    csi500_complete.assign(sort_key=csi500_complete['code'].apply(custom_sort))  # 添加排序关键字
      .sort_values(by=['date', 'sort_key'])  # 先按 date 排序，然后按 sort_key 排序
      .drop(columns='sort_key')  # 删除临时的排序关键字列
)

csi300_complete = (
    csi300_complete.assign(sort_key=csi300_complete['code'].apply(custom_sort))  # 添加排序关键字
      .sort_values(by=['date', 'sort_key'])  # 先按 date 排序，然后按 sort_key 排序
      .drop(columns='sort_key')  # 删除临时的排序关键字列
)

In [17]:
csi500_complete['date'].is_monotonic

/tmp/ipykernel_55074/4174939886.py:1: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  csi500_complete['date'].is_monotonic

True

In [56]:
csi300_complete.to_csv('all_hs300_stocks_v2.csv', index=False)
csi500_complete.to_csv('all_zz500_stocks_v2.csv',index=False)

In [18]:
csi800 = pd.concat([csi300_complete,csi500_complete])
csi800

              date      code    open   close    high    low      volume
8100    2008-01-02  SH600000    53.0   53.55   55.05  51.81  13158390.0
8101    2008-01-02  SH600001    8.12    8.38     8.6   7.95  62828328.0
8102    2008-01-02  SH600003    6.21    6.21    6.21   6.21         0.0
8103    2008-01-02  SH600004   20.95   22.15    22.2  20.95  10329598.0
8104    2008-01-02  SH600005   19.79    19.3   19.89   19.0  26984436.0
...            ...       ...     ...     ...     ...    ...         ...
1810948 2022-12-30  SZ300741    23.3   23.53   23.59  23.25    697539.0
1810949 2022-12-30  SZ300769  232.32  229.59  239.98  226.5   2917928.0
1810950 2022-12-30  SZ300832   49.31   50.14   50.52  48.47   3582705.0
1810951 2022-12-30  SZ300869   32.06   32.57   33.68   31.1  23415864.0
1810952 2022-12-30  SZ300888   69.85    71.5   71.88  69.12   2262275.0

[2919126 rows x 7 columns]

In [19]:
csi800['date'].is_monotonic

/tmp/ipykernel_55074/3458764868.py:1: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  csi800['date'].is_monotonic

False

In [20]:
csi800_complete = (
    csi800.assign(sort_key=csi800['code'].apply(custom_sort))  # 添加排序关键字
      .sort_values(by=['date', 'sort_key'])  # 先按 date 排序，然后按 sort_key 排序
      .drop(columns='sort_key')  # 删除临时的排序关键字列
)

In [21]:
csi800_complete

              date      code    open   close   high     low      volume
8100    2008-01-02  SH600000    53.0   53.55  55.05   51.81  13158390.0
8101    2008-01-02  SH600001    8.12    8.38    8.6    7.95  62828328.0
8102    2008-01-02  SH600003    6.21    6.21   6.21    6.21         0.0
8103    2008-01-02  SH600004   20.95   22.15   22.2   20.95  10329598.0
8104    2008-01-02  SH600005   19.79    19.3  19.89    19.0  26984436.0
...            ...       ...     ...     ...    ...     ...         ...
1094668 2022-12-30  SZ300896  568.09  566.35  570.6   557.0   1286736.0
1094669 2022-12-30  SZ300919    68.5   65.61  69.12   65.61   7426278.0
1094670 2022-12-30  SZ300957   151.0  149.24  151.7  146.89   3534444.0
1094671 2022-12-30  SZ300979   57.53   57.11   58.0   56.63   1839075.0
1094672 2022-12-30  SZ300999   43.52   43.56  43.85   43.11   5067633.0

[2919126 rows x 7 columns]

In [22]:
csi800_complete.to_csv("csi800_stocks_v2.csv",index=False)

In [14]:
csi300['date'].unique().__len__()

3622

In [15]:
csi500['date'].unique().__len__()

3622

In [4]:
csi_500new = pd.read_csv("all_zz500_stocks.csv")

csi_500new

               date       code    open   close    high     low      volume
0        2008-01-02  sh.600039    9.50    9.61    9.79    9.35   7202611.0
1        2008-01-02  sh.600051   10.42   11.28   11.28   10.42   5915286.0
2        2008-01-02  sh.600054   31.67   32.55   33.39   31.63   2404624.0
3        2008-01-02  sh.600056   24.60   26.69   26.69   24.60   6301816.0
4        2008-01-02  sh.600057    6.37    6.47    6.53    6.19   9258017.0
...             ...        ...     ...     ...     ...     ...         ...
1803821  2022-12-30  sz.300741   23.30   23.53   23.59   23.25    697539.0
1803822  2022-12-30  sz.300769  232.32  229.59  239.98  226.50   2917928.0
1803823  2022-12-30  sz.300832   49.31   50.14   50.52   48.47   3582705.0
1803824  2022-12-30  sz.300869   32.06   32.57   33.68   31.10  23415864.0
1803825  2022-12-30  sz.300888   69.85   71.50   71.88   69.12   2262275.0

[1803826 rows x 7 columns]

In [80]:
import baostock as bs
import pandas as pd
from multiprocessing import Pool

# 定义查询每个时间区间数据的函数
def query_hs300_stocks_in_range(date_list):
    all_hs300_stocks = pd.DataFrame()
    lg = bs.login()
    # 登陆系统
    if lg.error_code != '0':
        print(f"Login failed with error: {lg.error_msg}")
        return pd.DataFrame()

    for current_date in date_list:
        print(f"Querying date {current_date}")
        rs = bs.query_zz500_stocks(date=current_date)
        if rs.error_code == '0':
            hs300_stocks = []
            while rs.next():
                stock_data = rs.get_row_data()
                stock_code = stock_data[1]  # 假设股票代码在第二列
                # 查询股票的每日信息
                k_rs = bs.query_history_k_data_plus(stock_code,
                                                    "date,code,open,close,high,low,volume",
                                                    start_date=current_date, end_date=current_date,
                                                    frequency="d", adjustflag="3")
                if k_rs.error_code == '0':
                    k_data = k_rs.get_row_data()
                    if k_data == []:
                        break
                    else:
                        # 添加open, close, high, low, volume信息
                        hs300_stocks.append(k_data)
            if hs300_stocks:
                result = pd.DataFrame(hs300_stocks, columns=['date',
                                                             'code',
                                                             'open','close','high','low','volume'])
                all_hs300_stocks = pd.concat([all_hs300_stocks, result])
        else:
            print(f"Error querying date {current_date}: {rs.error_msg}")

    # 登出系统
    #bs.logout()
    return all_hs300_stocks

# 将日期列表划分为多个子列表
def split_date_list(date_list, n_splits):
    split_size = len(date_list) // n_splits
    return [date_list[i:i + split_size] for i in range(0, len(date_list), split_size)]

if __name__ == "__main__":
    # 假设你有一个不连续的日期列表
    date_list = csi500_not_500.index

    # 将日期列表划分为多个子列表，假设我们分为4部分
    n_splits = 10
    date_sublists = split_date_list(date_list, n_splits)

    # 使用多进程并行查询每个时间子列表的数据
    with Pool(processes=n_splits) as pool:
        results = pool.map(query_hs300_stocks_in_range, date_sublists)

    # 合并所有进程的结果
    all_zz500_stocks_not500 = pd.concat(results)


    print("Data extraction completed.")

login success!login success!login success!login success!
login success!
login success!

Querying date 2019-01-07Querying date 2019-01-11
Querying date 2009-08-28Querying date 2014-06-26


Querying date 2018-12-28

Querying date 2009-05-06

login success!
Querying date 2019-01-17
login success!
Querying date 2012-03-21
login success!
Querying date 2021-09-15
Querying date 2019-01-02
login success!
Querying date 2012-02-29
Querying date 2019-01-03
Querying date 2019-01-04
Querying date 2012-03-01
Querying date 2012-03-22
login success!
Querying date 2021-09-23
Querying date 2010-02-12
Querying date 2012-03-02
Querying date 2009-05-07
Querying date 2012-03-20
Querying date 2019-01-18
Querying date 2012-03-23
Querying date 2019-01-14
Querying date 2011-02-18
Querying date 2019-01-08
Querying date 2012-02-28
login success!
Querying date 2021-09-29
Querying date 2017-01-18
Querying date 2021-09-16
Querying date 2013-04-26
Querying date 2009-05-08
Querying date 2021-09-13
Querying date 2021-09-24
Querying date 2017-01-19
Querying date 2019-01-15
Querying date 2021-09-30
Querying date 2021-09-17
Querying date 2019-01-09
Querying date 2017-01-20
Querying date 2021-09-14
Querying date 2021-09-27
Querying date 2009-08-27
Querying date 2021-09-22
Querying date 2019-01-10
Querying date 2019-01-16
Querying date 2021-09-28
Data extraction completed.

In [84]:
all_zz500_stocks_not500.groupby('date')['code'].count()

date
2009-05-06    340
2009-05-07    340
2009-05-08    340
2009-08-27    264
2009-08-28    264
2010-02-12    180
2011-02-18    149
2012-02-28     24
2012-02-29     24
2012-03-01     24
2012-03-02     24
2012-03-20    252
2012-03-21    252
2012-03-22    252
2012-03-23    252
2013-04-26    287
2014-06-26    500
2017-01-18    296
2017-01-19    296
2017-01-20    296
2018-12-28     48
2019-01-02     48
2019-01-03     48
2019-01-04     48
2019-01-07    499
2019-01-08    499
2019-01-09    499
2019-01-10    499
2019-01-11    499
2019-01-14    499
2019-01-15    499
2019-01-16    499
2019-01-17    499
2019-01-18    499
2021-09-13    499
2021-09-14    499
2021-09-15    499
2021-09-16    499
2021-09-17    499
2021-09-22    499
2021-09-23    499
2021-09-24    499
2021-09-27    499
2021-09-28    499
2021-09-29    499
2021-09-30    499
Name: code, dtype: int64

In [101]:
bs.login()

rs = bs.query_zz500_stocks(date='2009-05-06')

stock_code =  rs.get_data().iloc[340,1]

k_rs = bs.query_history_k_data_plus(stock_code,
                                                     "date,code,open,close,high,low,volume",
                                                     start_date='2009-05-06', end_date='2009-05-06',
                                                     frequency="d", adjustflag="3")

print(k_rs.get_data())

login success!
Empty DataFrame
Columns: []
Index: []

In [4]:
csi500['date'] = pd.to_datetime(csi500['date'])
csi500.set_index(['date'], inplace=True)
csi500

# 获取数据集中最早和最晚的日期
start_date = '2008-01-01'
end_date = '2022-12-31'

# 生成完整的日期范围，假设工作日是频率
complete_date_range = pd.date_range(start=start_date, end=end_date, freq='D')  # freq='B' 表示只包含工作日

# 获取实际存在的日期
actual_dates = csi500.index.unique()

# 找出缺失的日期
missing_dates = complete_date_range.difference(actual_dates)

# 打印缺失的日期
print("Missing dates:")
print(missing_dates)

Missing dates:
DatetimeIndex(['2008-01-01', '2008-01-05', '2008-01-06', '2008-01-12',
               '2008-01-13', '2008-01-19', '2008-01-20', '2008-01-26',
               '2008-01-27', '2008-02-02',
               ...
               '2022-11-27', '2022-12-03', '2022-12-04', '2022-12-10',
               '2022-12-11', '2022-12-17', '2022-12-18', '2022-12-24',
               '2022-12-25', '2022-12-31'],
              dtype='datetime64[ns]', length=1857, freq=None)

In [29]:
import chinese_calendar as calendar
ls = []
# 找出缺失的日期中的工作日
for date in missing_dates:
    if calendar.is_workday(date):
        ls.append(date)

In [30]:
ls

[Timestamp('2008-02-02 00:00:00'),
 Timestamp('2008-02-03 00:00:00'),
 Timestamp('2008-05-04 00:00:00'),
 Timestamp('2008-06-19 00:00:00'),
 Timestamp('2008-09-27 00:00:00'),
 Timestamp('2008-09-28 00:00:00'),
 Timestamp('2009-01-04 00:00:00'),
 Timestamp('2009-01-24 00:00:00'),
 Timestamp('2009-02-01 00:00:00'),
 Timestamp('2009-03-03 00:00:00'),
 Timestamp('2009-05-31 00:00:00'),
 Timestamp('2009-08-21 00:00:00'),
 Timestamp('2009-09-27 00:00:00'),
 Timestamp('2009-10-10 00:00:00'),
 Timestamp('2010-02-08 00:00:00'),
 Timestamp('2010-02-20 00:00:00'),
 Timestamp('2010-02-21 00:00:00'),
 Timestamp('2010-05-05 00:00:00'),
 Timestamp('2010-06-12 00:00:00'),
 Timestamp('2010-06-13 00:00:00'),
 Timestamp('2010-09-19 00:00:00'),
 Timestamp('2010-09-25 00:00:00'),
 Timestamp('2010-09-26 00:00:00'),
 Timestamp('2010-10-09 00:00:00'),
 Timestamp('2011-01-30 00:00:00'),
 Timestamp('2011-02-12 00:00:00'),
 Timestamp('2011-04-02 00:00:00'),
 Timestamp('2011-04-12 00:00:00'),
 Timestamp('2011-07-07 00:00:00'),
 Timestamp('2011-10-08 00:00:00'),
 Timestamp('2011-10-09 00:00:00'),
 Timestamp('2011-12-31 00:00:00'),
 Timestamp('2012-01-21 00:00:00'),
 Timestamp('2012-01-29 00:00:00'),
 Timestamp('2012-03-31 00:00:00'),
 Timestamp('2012-04-01 00:00:00'),
 Timestamp('2012-04-28 00:00:00'),
 Timestamp('2012-06-13 00:00:00'),
 Timestamp('2012-09-07 00:00:00'),
 Timestamp('2012-09-29 00:00:00'),
 Timestamp('2013-01-05 00:00:00'),
 Timestamp('2013-01-06 00:00:00'),
 Timestamp('2013-02-16 00:00:00'),
 Timestamp('2013-02-17 00:00:00'),
 Timestamp('2013-02-25 00:00:00'),
 Timestamp('2013-04-07 00:00:00'),
 Timestamp('2013-04-27 00:00:00'),
 Timestamp('2013-04-28 00:00:00'),
 Timestamp('2013-05-22 00:00:00'),
 Timestamp('2013-06-08 00:00:00'),
 Timestamp('2013-06-09 00:00:00'),
 Timestamp('2013-09-22 00:00:00'),
 Timestamp('2013-09-29 00:00:00'),
 Timestamp('2013-10-12 00:00:00'),
 Timestamp('2014-01-26 00:00:00'),
 Timestamp('2014-02-08 00:00:00'),
 Timestamp('2014-04-29 00:00:00'),
 Timestamp('2014-05-04 00:00:00'),
 Timestamp('2014-07-24 00:00:00'),
 Timestamp('2014-09-28 00:00:00'),
 Timestamp('2014-10-11 00:00:00'),
 Timestamp('2015-01-04 00:00:00'),
 Timestamp('2015-02-15 00:00:00'),
 Timestamp('2015-02-28 00:00:00'),
 Timestamp('2015-07-01 00:00:00'),
 Timestamp('2015-09-06 00:00:00'),
 Timestamp('2015-09-25 00:00:00'),
 Timestamp('2015-10-10 00:00:00'),
 Timestamp('2016-02-06 00:00:00'),
 Timestamp('2016-02-14 00:00:00'),
 Timestamp('2016-03-14 00:00:00'),
 Timestamp('2016-06-12 00:00:00'),
 Timestamp('2016-09-01 00:00:00'),
 Timestamp('2016-09-18 00:00:00'),
 Timestamp('2016-10-08 00:00:00'),
 Timestamp('2016-10-09 00:00:00'),
 Timestamp('2017-01-22 00:00:00'),
 Timestamp('2017-02-04 00:00:00'),
 Timestamp('2017-04-01 00:00:00'),
 Timestamp('2017-05-16 00:00:00'),
 Timestamp('2017-05-27 00:00:00'),
 Timestamp('2017-09-30 00:00:00'),
 Timestamp('2017-11-03 00:00:00'),
 Timestamp('2018-02-11 00:00:00'),
 Timestamp('2018-02-24 00:00:00'),
 Timestamp('2018-04-08 00:00:00'),
 Timestamp('2018-04-28 00:00:00'),
 Timestamp('2018-07-18 00:00:00'),
 Timestamp('2018-09-29 00:00:00'),
 Timestamp('2018-09-30 00:00:00'),
 Timestamp('2018-10-12 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2019-02-02 00:00:00'),
 Timestamp('2019-02-03 00:00:00'),
 Timestamp('2019-04-01 00:00:00'),
 Timestamp('2019-04-28 00:00:00'),
 Timestamp('2019-05-05 00:00:00'),
 Timestamp('2019-09-19 00:00:00'),
 Timestamp('2019-09-29 00:00:00'),
 Timestamp('2019-10-12 00:00:00'),
 Timestamp('2020-01-19 00:00:00'),
 Timestamp('2020-04-26 00:00:00'),
 Timestamp('2020-05-09 00:00:00'),
 Timestamp('2020-06-02 00:00:00'),
 Timestamp('2020-06-28 00:00:00'),
 Timestamp('2020-09-27 00:00:00'),
 Timestamp('2020-10-10 00:00:00'),
 Timestamp('2020-11-20 00:00:00'),
 Timestamp('2021-02-07 00:00:00'),
 Timestamp('2021-02-20 00:00:00'),
 Timestamp('2021-04-25 00:00:00'),
 Timestamp('2021-05-08 00:00:00'),
 Timestamp('2021-08-04 00:00:00'),
 Timestamp('2021-09-18 00:00:00'),
 Timestamp('2021-09-26 00:00:00'),
 Timestamp('2021-10-09 00:00:00'),
 Timestamp('2022-01-29 00:00:00'),
 Timestamp('2022-01-30 00:00:00'),
 Timestamp('2022-04-02 00:00:00'),
 Timestamp('2022-04-18 00:00:00'),
 Timestamp('2022-04-24 00:00:00'),
 Timestamp('2022-05-07 00:00:00'),
 Timestamp('2022-10-08 00:00:00'),
 Timestamp('2022-10-09 00:00:00')]

In [9]:
import baostock as bs

not_connect_date = []
bs.login()
for date in missing_dates:
    date = date.strftime("%Y-%m-%d")
    print(date)

    rs = bs.query_zz500_stocks(date=date)
    if rs.error_code == '0':
        hs300_stocks = []
        while rs.next():
            stock_data = rs.get_row_data()
            stock_code = stock_data[1]  # 假设股票代码在第二列
            # 查询股票的每日信息
            k_rs = bs.query_history_k_data_plus(stock_code,
                                                    "date,code,open,close,high,low,volume",
                                                    start_date=date, end_date=date,
                                                    frequency="d", adjustflag="3")
            if k_rs.error_code == '0':
                k_data = k_rs.get_row_data()
                if k_data == []:
                    break
                else:
                    # 添加open, close, high, low, volume信息
                    not_connect_date.append(date)
                    break
bs.logout()

login success!
2008-01-01
2008-01-05
2008-01-06
2008-01-12
2008-01-13
2008-01-19
2008-01-20
2008-01-26
2008-01-27
2008-02-02
2008-02-03
2008-02-06
2008-02-07
2008-02-08
2008-02-09
2008-02-10
2008-02-11
2008-02-12
2008-02-16
2008-02-17
2008-02-23
2008-02-24
2008-03-01
2008-03-02
2008-03-08
2008-03-09
2008-03-15
2008-03-16
2008-03-22
2008-03-23
2008-03-29
2008-03-30
2008-04-04
2008-04-05
2008-04-06
2008-04-12
2008-04-13
2008-04-19
2008-04-20
2008-04-26
2008-04-27
2008-05-01
2008-05-02
2008-05-03
2008-05-04
2008-05-10
2008-05-11
2008-05-17
2008-05-18
2008-05-24
2008-05-25
2008-05-31
2008-06-01
2008-06-07
2008-06-08
2008-06-09
2008-06-14
2008-06-15
2008-06-19
2008-06-21
2008-06-22
2008-06-28
2008-06-29
2008-07-05
2008-07-06
2008-07-12
2008-07-13
2008-07-19
2008-07-20
2008-07-26
2008-07-27
2008-08-02
2008-08-03
2008-08-09
2008-08-10
2008-08-16
2008-08-17
2008-08-23
2008-08-24
2008-08-30
2008-08-31
2008-09-06
2008-09-07
2008-09-13
2008-09-14
2008-09-15
2008-09-20
2008-09-21
2008-09-27
2008-09-28
2008-09-29
2008-09-30
2008-10-01
2008-10-02
2008-10-03
2008-10-04
2008-10-05
2008-10-11
2008-10-12
2008-10-18
2008-10-19
2008-10-25
2008-10-26
2008-11-01
2008-11-02
2008-11-08
2008-11-09
2008-11-15
2008-11-16
2008-11-22
2008-11-23
2008-11-29
2008-11-30
2008-12-06
2008-12-07
2008-12-13
2008-12-14
2008-12-20
2008-12-21
2008-12-27
2008-12-28
2009-01-01
2009-01-02
2009-01-03
2009-01-04
2009-01-10
2009-01-11
2009-01-17
2009-01-18
2009-01-24
2009-01-25
2009-01-26
2009-01-27
2009-01-28
2009-01-29
2009-01-30
2009-01-31
2009-02-01
2009-02-07
2009-02-08
2009-02-14
2009-02-15
2009-02-21
2009-02-22
2009-02-28
2009-03-01
2009-03-03
2009-03-07
2009-03-08
2009-03-14
2009-03-15
2009-03-21
2009-03-22
2009-03-28
2009-03-29
2009-04-04
2009-04-05
2009-04-06
2009-04-11
2009-04-12
2009-04-18
2009-04-19
2009-04-25
2009-04-26
2009-05-01
2009-05-02
2009-05-03
2009-05-09
2009-05-10
2009-05-16
2009-05-17
2009-05-23
2009-05-24
2009-05-28
2009-05-29
2009-05-30
2009-05-31
2009-06-06
2009-06-07
2009-06-13
2009-06-14
2009-06-20
2009-06-21
2009-06-27
2009-06-28
2009-07-04
2009-07-05
2009-07-11
2009-07-12
2009-07-18
2009-07-19
2009-07-25
2009-07-26
2009-08-01
2009-08-02
2009-08-08
2009-08-09
2009-08-15
2009-08-16
2009-08-21
2009-08-22
2009-08-23
2009-08-29
2009-08-30
2009-09-05
2009-09-06
2009-09-12
2009-09-13
2009-09-19
2009-09-20
2009-09-26
2009-09-27
2009-10-01
2009-10-02
2009-10-03
2009-10-04
2009-10-05
2009-10-06
2009-10-07
2009-10-08
2009-10-10
2009-10-11
2009-10-17
2009-10-18
2009-10-24
2009-10-25
2009-10-31
2009-11-01
2009-11-07
2009-11-08
2009-11-14
2009-11-15
2009-11-21
2009-11-22
2009-11-28
2009-11-29
2009-12-05
2009-12-06
2009-12-12
2009-12-13
2009-12-19
2009-12-20
2009-12-26
2009-12-27
2010-01-01
2010-01-02
2010-01-03
2010-01-09
2010-01-10
2010-01-16
2010-01-17
2010-01-23
2010-01-24
2010-01-30
2010-01-31
2010-02-06
2010-02-07
2010-02-08
2010-02-13
2010-02-14
2010-02-15
2010-02-16
2010-02-17
2010-02-18
2010-02-19
2010-02-20
2010-02-21
2010-02-27
2010-02-28
2010-03-06
2010-03-07
2010-03-13
2010-03-14
2010-03-20
2010-03-21
2010-03-27
2010-03-28
2010-04-03
2010-04-04
2010-04-05
2010-04-10
2010-04-11
2010-04-17
2010-04-18
2010-04-24
2010-04-25
2010-05-01
2010-05-02
2010-05-03
2010-05-05
2010-05-08
2010-05-09
2010-05-15
2010-05-16
2010-05-22
2010-05-23
2010-05-29
2010-05-30
2010-06-05
2010-06-06
2010-06-12
2010-06-13
2010-06-14
2010-06-15
2010-06-16
2010-06-19
2010-06-20
2010-06-26
2010-06-27
2010-07-03
2010-07-04
2010-07-10
2010-07-11
2010-07-17
2010-07-18
2010-07-24
2010-07-25
2010-07-31
2010-08-01
2010-08-07
2010-08-08
2010-08-14
2010-08-15
2010-08-21
2010-08-22
2010-08-28
2010-08-29
2010-09-04
2010-09-05
2010-09-11
2010-09-12
2010-09-18
2010-09-19
2010-09-22
2010-09-23
2010-09-24
2010-09-25
2010-09-26
2010-10-01
2010-10-02
2010-10-03
2010-10-04
2010-10-05
2010-10-06
2010-10-07
2010-10-09
2010-10-10
2010-10-16
2010-10-17
2010-10-23
2010-10-24
2010-10-30
2010-10-31
2010-11-06
2010-11-07
2010-11-13
2010-11-14
2010-11-20
2010-11-21
2010-11-27
2010-11-28
2010-12-04
2010-12-05
2010-12-11
2010-12-12
2010-12-18
2010-12-19
2010-12-25
2010-12-26
2011-01-01
2011-01-02
2011-01-03
2011-01-08
2011-01-09
2011-01-15
2011-01-16
2011-01-22
2011-01-23
2011-01-29
2011-01-30
2011-02-02
2011-02-03
2011-02-04
2011-02-05
2011-02-06
2011-02-07
2011-02-08
2011-02-12
2011-02-13
2011-02-19
2011-02-20
2011-02-26
2011-02-27
2011-03-05
2011-03-06
2011-03-12
2011-03-13
2011-03-19
2011-03-20
2011-03-26
2011-03-27
2011-04-02
2011-04-03
2011-04-04
2011-04-05
2011-04-09
2011-04-10
2011-04-12
2011-04-16
2011-04-17
2011-04-23
2011-04-24
2011-04-30
2011-05-01
2011-05-02
2011-05-07
2011-05-08
2011-05-14
2011-05-15
2011-05-21
2011-05-22
2011-05-28
2011-05-29
2011-06-04
2011-06-05
2011-06-06
2011-06-11
2011-06-12
2011-06-18
2011-06-19
2011-06-25
2011-06-26
2011-07-02
2011-07-03
2011-07-07
2011-07-09
2011-07-10
2011-07-16
2011-07-17
2011-07-23
2011-07-24
2011-07-30
2011-07-31
2011-08-06
2011-08-07
2011-08-13
2011-08-14
2011-08-20
2011-08-21
2011-08-27
2011-08-28
2011-09-03
2011-09-04
2011-09-10
2011-09-11
2011-09-12
2011-09-17
2011-09-18
2011-09-24
2011-09-25
2011-10-01
2011-10-02
2011-10-03
2011-10-04
2011-10-05
2011-10-06
2011-10-07
2011-10-08
2011-10-09
2011-10-15
2011-10-16
2011-10-22
2011-10-23
2011-10-29
2011-10-30
2011-11-05
2011-11-06
2011-11-12
2011-11-13
2011-11-19
2011-11-20
2011-11-26
2011-11-27
2011-12-03
2011-12-04
2011-12-10
2011-12-11
2011-12-17
2011-12-18
2011-12-24
2011-12-25
2011-12-31
2012-01-01
2012-01-02
2012-01-03
2012-01-07
2012-01-08
2012-01-14
2012-01-15
2012-01-21
2012-01-22
2012-01-23
2012-01-24
2012-01-25
2012-01-26
2012-01-27
2012-01-28
2012-01-29
2012-02-04
2012-02-05
2012-02-11
2012-02-12
2012-02-18
2012-02-19
2012-02-25
2012-02-26
2012-03-03
2012-03-04
2012-03-10
2012-03-11
2012-03-17
2012-03-18
2012-03-24
2012-03-25
2012-03-31
2012-04-01
2012-04-02
2012-04-03
2012-04-04
2012-04-07
2012-04-08
2012-04-14
2012-04-15
2012-04-21
2012-04-22
2012-04-28
2012-04-29
2012-04-30
2012-05-01
2012-05-05
2012-05-06
2012-05-12
2012-05-13
2012-05-19
2012-05-20
2012-05-26
2012-05-27
2012-06-02
2012-06-03
2012-06-09
2012-06-10
2012-06-13
2012-06-16
2012-06-17
2012-06-22
2012-06-23
2012-06-24
2012-06-30
2012-07-01
2012-07-07
2012-07-08
2012-07-14
2012-07-15
2012-07-21
2012-07-22
2012-07-28
2012-07-29
2012-08-04
2012-08-05
2012-08-11
2012-08-12
2012-08-18
2012-08-19
2012-08-25
2012-08-26
2012-09-01
2012-09-02
2012-09-07
2012-09-08
2012-09-09
2012-09-15
2012-09-16
2012-09-22
2012-09-23
2012-09-29
2012-09-30
2012-10-01
2012-10-02
2012-10-03
2012-10-04
2012-10-05
2012-10-06
2012-10-07
2012-10-13
2012-10-14
2012-10-20
2012-10-21
2012-10-27
2012-10-28
2012-11-03
2012-11-04
2012-11-10
2012-11-11
2012-11-17
2012-11-18
2012-11-24
2012-11-25
2012-12-01
2012-12-02
2012-12-08
2012-12-09
2012-12-15
2012-12-16
2012-12-22
2012-12-23
2012-12-29
2012-12-30
2013-01-01
2013-01-02
2013-01-03
2013-01-05
2013-01-06
2013-01-12
2013-01-13
2013-01-19
2013-01-20
2013-01-26
2013-01-27
2013-02-02
2013-02-03
2013-02-09
2013-02-10
2013-02-11
2013-02-12
2013-02-13
2013-02-14
2013-02-15
2013-02-16
2013-02-17
2013-02-23
2013-02-24
2013-02-25
2013-03-02
2013-03-03
2013-03-09
2013-03-10
2013-03-16
2013-03-17
2013-03-23
2013-03-24
2013-03-30
2013-03-31
2013-04-04
2013-04-05
2013-04-06
2013-04-07
2013-04-13
2013-04-14
2013-04-20
2013-04-21
2013-04-27
2013-04-28
2013-04-29
2013-04-30
2013-05-01
2013-05-04
2013-05-05
2013-05-11
2013-05-12
2013-05-18
2013-05-19
2013-05-22
2013-05-25
2013-05-26
2013-06-01
2013-06-02
2013-06-08
2013-06-09
2013-06-10
2013-06-11
2013-06-12
2013-06-15
2013-06-16
2013-06-22
2013-06-23
2013-06-29
2013-06-30
2013-07-06
2013-07-07
2013-07-13
2013-07-14
2013-07-20
2013-07-21
2013-07-27
2013-07-28
2013-08-03
2013-08-04
2013-08-10
2013-08-11
2013-08-17
2013-08-18
2013-08-24
2013-08-25
2013-08-31
2013-09-01
2013-09-07
2013-09-08
2013-09-14
2013-09-15
2013-09-19
2013-09-20
2013-09-21
2013-09-22
2013-09-28
2013-09-29
2013-10-01
2013-10-02
2013-10-03
2013-10-04
2013-10-05
2013-10-06
2013-10-07
2013-10-12
2013-10-13
2013-10-19
2013-10-20
2013-10-26
2013-10-27
2013-11-02
2013-11-03
2013-11-09
2013-11-10
2013-11-16
2013-11-17
2013-11-23
2013-11-24
2013-11-30
2013-12-01
2013-12-07
2013-12-08
2013-12-14
2013-12-15
2013-12-21
2013-12-22
2013-12-28
2013-12-29
2014-01-01
2014-01-04
2014-01-05
2014-01-11
2014-01-12
2014-01-18
2014-01-19
2014-01-25
2014-01-26
2014-01-31
2014-02-01
2014-02-02
2014-02-03
2014-02-04
2014-02-05
2014-02-06
2014-02-08
2014-02-09
2014-02-15
2014-02-16
2014-02-22
2014-02-23
2014-03-01
2014-03-02
2014-03-08
2014-03-09
2014-03-15
2014-03-16
2014-03-22
2014-03-23
2014-03-29
2014-03-30
2014-04-05
2014-04-06
2014-04-07
2014-04-12
2014-04-13
2014-04-19
2014-04-20
2014-04-26
2014-04-27
2014-04-29
2014-05-01
2014-05-02
2014-05-03
2014-05-04
2014-05-10
2014-05-11
2014-05-17
2014-05-18
2014-05-24
2014-05-25
2014-05-31
2014-06-01
2014-06-02
2014-06-07
2014-06-08
2014-06-14
2014-06-15
2014-06-21
2014-06-22
2014-06-28
2014-06-29
2014-07-05
2014-07-06
2014-07-12
2014-07-13
2014-07-19
2014-07-20
2014-07-24
2014-07-26
2014-07-27
2014-08-02
2014-08-03
2014-08-09
2014-08-10
2014-08-16
2014-08-17
2014-08-23
2014-08-24
2014-08-30
2014-08-31
2014-09-06
2014-09-07
2014-09-08
2014-09-13
2014-09-14
2014-09-20
2014-09-21
2014-09-27
2014-09-28
2014-10-01
2014-10-02
2014-10-03
2014-10-04
2014-10-05
2014-10-06
2014-10-07
2014-10-11
2014-10-12
2014-10-18
2014-10-19
2014-10-25
2014-10-26
2014-11-01
2014-11-02
2014-11-08
2014-11-09
2014-11-15
2014-11-16
2014-11-22
2014-11-23
2014-11-29
2014-11-30
2014-12-06
2014-12-07
2014-12-13
2014-12-14
2014-12-20
2014-12-21
2014-12-27
2014-12-28
2015-01-01
2015-01-02
2015-01-03
2015-01-04
2015-01-10
2015-01-11
2015-01-17
2015-01-18
2015-01-24
2015-01-25
2015-01-31
2015-02-01
2015-02-07
2015-02-08
2015-02-14
2015-02-15
2015-02-18
2015-02-19
2015-02-20
2015-02-21
2015-02-22
2015-02-23
2015-02-24
2015-02-28
2015-03-01
2015-03-07
2015-03-08
2015-03-14
2015-03-15
2015-03-21
2015-03-22
2015-03-28
2015-03-29
2015-04-04
2015-04-05
2015-04-06
2015-04-11
2015-04-12
2015-04-18
2015-04-19
2015-04-25
2015-04-26
2015-05-01
2015-05-02
2015-05-03
2015-05-09
2015-05-10
2015-05-16
2015-05-17
2015-05-23
2015-05-24
2015-05-30
2015-05-31
2015-06-06
2015-06-07
2015-06-13
2015-06-14
2015-06-20
2015-06-21
2015-06-22
2015-06-27
2015-06-28
2015-07-01
2015-07-04
2015-07-05
2015-07-11
2015-07-12
2015-07-18
2015-07-19
2015-07-25
2015-07-26
2015-08-01
2015-08-02
2015-08-08
2015-08-09
2015-08-15
2015-08-16
2015-08-22
2015-08-23
2015-08-29
2015-08-30
2015-09-03
2015-09-04
2015-09-05
2015-09-06
2015-09-12
2015-09-13
2015-09-19
2015-09-20
2015-09-25
2015-09-26
2015-09-27
2015-10-01
2015-10-02
2015-10-03
2015-10-04
2015-10-05
2015-10-06
2015-10-07
2015-10-10
2015-10-11
2015-10-17
2015-10-18
2015-10-24
2015-10-25
2015-10-31
2015-11-01
2015-11-07
2015-11-08
2015-11-14
2015-11-15
2015-11-21
2015-11-22
2015-11-28
2015-11-29
2015-12-05
2015-12-06
2015-12-12
2015-12-13
2015-12-19
2015-12-20
2015-12-26
2015-12-27
2016-01-01
2016-01-02
2016-01-03
2016-01-09
2016-01-10
2016-01-16
2016-01-17
2016-01-23
2016-01-24
2016-01-30
2016-01-31
2016-02-06
2016-02-07
2016-02-08
2016-02-09
2016-02-10
2016-02-11
2016-02-12
2016-02-13
2016-02-14
2016-02-20
2016-02-21
2016-02-27
2016-02-28
2016-03-05
2016-03-06
2016-03-12
2016-03-13
2016-03-14
2016-03-19
2016-03-20
2016-03-26
2016-03-27
2016-04-02
2016-04-03
2016-04-04
2016-04-09
2016-04-10
2016-04-16
2016-04-17
2016-04-23
2016-04-24
2016-04-30
2016-05-01
2016-05-02
2016-05-07
2016-05-08
2016-05-14
2016-05-15
2016-05-21
2016-05-22
2016-05-28
2016-05-29
2016-06-04
2016-06-05
2016-06-09
2016-06-10
2016-06-11
2016-06-12
2016-06-18
2016-06-19
2016-06-25
2016-06-26
2016-07-02
2016-07-03
2016-07-09
2016-07-10
2016-07-16
2016-07-17
2016-07-23
2016-07-24
2016-07-30
2016-07-31
2016-08-06
2016-08-07
2016-08-13
2016-08-14
2016-08-20
2016-08-21
2016-08-27
2016-08-28
2016-09-01
2016-09-03
2016-09-04
2016-09-10
2016-09-11
2016-09-15
2016-09-16
2016-09-17
2016-09-18
2016-09-24
2016-09-25
2016-10-01
2016-10-02
2016-10-03
2016-10-04
2016-10-05
2016-10-06
2016-10-07
2016-10-08
2016-10-09
2016-10-15
2016-10-16
2016-10-22
2016-10-23
2016-10-29
2016-10-30
2016-11-05
2016-11-06
2016-11-12
2016-11-13
2016-11-19
2016-11-20
2016-11-26
2016-11-27
2016-12-03
2016-12-04
2016-12-10
2016-12-11
2016-12-17
2016-12-18
2016-12-24
2016-12-25
2016-12-31
2017-01-01
2017-01-02
2017-01-07
2017-01-08
2017-01-14
2017-01-15
2017-01-21
2017-01-22
2017-01-27
2017-01-28
2017-01-29
2017-01-30
2017-01-31
2017-02-01
2017-02-02
2017-02-04
2017-02-05
2017-02-11
2017-02-12
2017-02-18
2017-02-19
2017-02-25
2017-02-26
2017-03-04
2017-03-05
2017-03-11
2017-03-12
2017-03-18
2017-03-19
2017-03-25
2017-03-26
2017-04-01
2017-04-02
2017-04-03
2017-04-04
2017-04-08

KeyboardInterrupt: